[Unit]
Description=Athena Backup monthly (1. 02:00)
[Timer]
OnCalendar=*-*-01 02:00:00
Persistent=true
Unit=athena-backup@monthly.service
[Install]
WantedBy=timers.target
